<%= form_with(model: person, scope: :person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.select :type, [['Simple Person', 'Person'], ['Student', 'Student'], ['Teacher', 'Teacher']], {},
        { style: "display: block", onchange: "handleTypeChange(this.value)" } %>
  </div>

  <div id="student_status_field" style="display: none;">
    <%= form.label :student_status_id, "Student Status", style: "display: block" %>
    <%= form.collection_select :student_status_id, StudentStatus.all, :id, :status %>
  </div>

  <div id="teacher_fields" style="display: none;">
    <%= form.label :teacher_status_id, "Teacher Status", style: "display: block" %>
    <%= form.collection_select :teacher_status_id, TeachersStatus.all, :id, :status %>

    <div>
      <%= form.label :iban, "IBAN", style: "display: block" %>
      <%= form.text_field :iban %>
    </div>
  </div>

  <fieldset>
    <legend>Address Information</legend>
    <%= form.fields_for :address do |address_form| %>
      <div>
        <%= address_form.label :street, style: "display: block" %>
        <%= address_form.text_field :street %>
      </div>

      <div>
        <%= address_form.label :number, style: "display: block" %>
        <%= address_form.text_field :number %>
      </div>

      <div>
        <%= address_form.label :zip, style: "display: block" %>
        <%= address_form.number_field :zip %>
      </div>

      <div>
        <%= address_form.label :town, style: "display: block" %>
        <%= address_form.text_field :town %>
      </div>
    <% end %>
  </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
function handleTypeChange(type) {
  const studentFields = document.getElementById('student_status_field');
  const teacherFields = document.getElementById('teacher_fields');

  studentFields.style.display = type === 'Student' ? 'block' : 'none';
  teacherFields.style.display = type === 'Teacher' ? 'block' : 'none';
}

// Call on page load to set initial state
document.addEventListener('DOMContentLoaded', function() {
  const typeSelect = document.querySelector('select[name="person[type]"]');
  if (typeSelect) {
    handleTypeChange(typeSelect.value);
  }
});
</script>
