<div id="<%= dom_id scool_class %>">
  <p>
    <strong>Uid:</strong>
    <%= scool_class.uid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= scool_class.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= scool_class.room_id %>
  </p>

  <p>
    <strong>Master:</strong>
    <%= scool_class.master %>
  </p>

</div>
