<p style="color: green"><%= notice %></p>

<%= render @scool_class %>

<div>
  <%= link_to "Edit this scool_class", edit_scool_class_path(@scool_class) %> |
  <%= link_to "Back to scool_classes", scool_classes_path %>

  <%= button_to "Destroy this scool_class", @scool_class, method: :delete %>
</div>
