<div id="<%= dom_id address %>">
  <p>
    <strong>Id:</strong>
    <%= address.id %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= address.zip %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= address.town %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>People:</strong>
    <%= address.person_id %>
  </p>

</div>
