<%= form_with(model: address, class: "needs-validation") do |form| %>
  <% if address.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h5>
      <ul class="mb-0">
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:person_id].present? %>
    <%= form.hidden_field :person_id, value: params[:person_id] %>
  <% else %>
    <% if current_person.dean? %>
      <div class="form-floating mb-3">
        <%= form.select :person_id, 
            Person.all.collect { |p| ["#{p.firstname} #{p.lastname}", p.id] }, 
            { include_blank: "Select a person" }, 
            { class: "form-select" } %>
        <%= form.label :person_id, "Person" %>
      </div>
    <% else %>
      <%= form.hidden_field :person_id, value: address.person_id || current_person.id %>
    <% end %>
  <% end %>

  <div class="row g-3">
    <div class="col-md-8">
      <div class="form-floating mb-3">
        <%= form.text_field :street, class: "form-control", placeholder: "Street" %>
        <%= form.label :street %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <%= form.text_field :number, class: "form-control", placeholder: "Number" %>
        <%= form.label :number %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-floating mb-3">
        <%= form.number_field :zip, class: "form-control", placeholder: "ZIP Code" %>
        <%= form.label :zip, "ZIP Code" %>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="form-floating mb-3">
        <%= form.text_field :town, class: "form-control", placeholder: "Town" %>
        <%= form.label :town %>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", addresses_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
