<p style="color: green"><%= notice %></p>

<% content_for :title, "Examinations" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Examinations</h1>
  <% if can_create_examination? %>
    <%= link_to new_examination_path, class: "btn btn-primary" do %>
      <i class="bi bi-plus-circle"></i> New examination
    <% end %>
  <% end %>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Subject</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @examinations.each do |examination| %>
            <tr>
              <td><%= examination.title %></td>
              <td>
                <% if examination.course %>
                  <%= link_to "Term #{examination.course.term}", examination.course %>
                <% end %>
              </td>
              <td>
                <% if examination.course&.subject %>
                  <%= link_to examination.course.subject.name, examination.course.subject %>
                <% end %>
              </td>
              <td>
                <%= render 'shared/table_actions', resource: examination, resource_name: 'examination' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
